# Use root/example as user/password credentials

services:

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD} 
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$${MYSQL_ROOT_PASSWORD} --silent"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    ports:
      - "3306:3306"
    # (this is just an example, not intended to be a production configuration)

  service:
    image: jwt-pizza-service 
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:80"
